<div class="list-group">
    {% for product in products %}
        <a href="{{ path('app_product',{id:product.id}) }}"
           class="list-group-item list-group-item-action"
           role="option">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img src="{{ asset('/uploads/products/'~product.imageFilename) }}"
                         alt="{{ product.name }}"
                         class="rounded">
                    <span class="px-1">{{ product.name }}</span>
                </div>
                <em>{{ product.priceString|format_currency('USD') }}</em>
            </div>
        </a>
    {% else %}
        <div class="list-group-item" role="option" aria-disabled="true">
            No results found!
        </div>
    {% endfor %}
</div>
