<div class="modal fade" tabindex="1" aria-hidden="true" data-modal-form-target="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 data-modal-form-target="modalBody"
                 data-action="submit->modal-form#submitForm">
                {{ modalContent|default('Loading...') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-action="modal-form#submitForm">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
